html, body {
    color: $grey-text;
    font-family: $font-sans;
    font-size: 16px;
    line-height: 24px;
    margin: 0; padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
}

/* Header
 * ------------------------ */
 $header-height: 96px;
 $header-bg: #F9F9F9;

.page-header {
    background-image: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85) 56px, $header-bg 57px, $header-bg);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: $header-height;
    z-index: 10;

    .container {
        position: relative;
        height: $header-height;
    }
}

.page-logo {
    background: url(../images/logo@2x.png) no-repeat 0 0;
    background-size: auto 28px;
    border: none;
    text-indent: -9999px;

    display: block;
    float: left;
    margin: 12px 0 0 6px;
    padding: 0;
    width: 206px; height: 28px;
}

.page-number {
    color: $blue;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: 18px 6px 0 0;
}

/* Menu
 * ------------------------ */
 .page-menu-toggle {
    display: none;
 }

 .page-menu-social {
    display: none;
 }
 
.page-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-menu ul {
    list-style: none;
    margin: 0; padding: 0;
}

.page-menu > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-menu li {
    $menu-height: 36px;
    $border-size: 3px;

    position: relative;
    flex: 0 1 auto;

    &:hover {
        height: $menu-height - $border-size;

        ul {
            padding: 12px 0;
        }
    }

    &.billeterie { display: none; }
    &.decouverte:hover ul { height: 24px * 4 + 12px; }
    &.distribution:hover ul { height: 24px * 5 + 12px; }

    &.active {
        border-bottom: $border-size solid $light-blue;
        color: $light-blue;
        height: $menu-height - $border-size;

        & > a {
            color: $light-blue;
        }
    }

    &.dropdown:hover {
        border-color: transparent;
    }

    a {
        color: $blue;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: $menu-height;
        text-decoration: none;

        display: inline-block;
        padding: 0 6px;
        height: $menu-height;

        &:hover {
            color: $light-blue;
        }
    }

    ul {
        background: $header-bg;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: $menu-height;
        left: -12px;
        padding: 0;
        overflow: hidden;
        width: 160px;
        height: 0;
        z-index: 1;

        transition: all .2s;

        li {
            line-height: 24px;
            float: none;
            margin: 0;
            padding: 0;
            height: 24px;
        }

        li.active,
        li:hover {
            border: none;
            height: 24px;
        }

        a {
            line-height: 24px;
            padding: 0 18px;
            height: 24px;
        }

        .title {
            color: #737373;
            font-size: 12px;
            font-weight: bold;
            padding: 0 18px;
            text-transform: uppercase;
        }

        li + .title {
            margin-top: 12px;
        }
    }
}

@media screen and (max-width: 800px) {
    .page-header {
        height: 54px;
    }

    .page-menu-social.page-social {
        display: block;
        margin-top: 24px;

        a {
            float: left;
        }
    }

    .page-footer div {
        display: none;
    }
    
    .page-menu-toggle {
        background: $header-bg;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        right: -54px;
        width: 54px;
        height: 54px;
    }

    .page-menu {
        background: $header-bg;
        box-shadow: 0px 0 8px -1px rgba(0,0,0,0.5);
        box-sizing: border-box;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 12px;
        margin-left: -220px;
        width: 220px;

        transition: margin .2s ease-in-out;

        &.open {
            margin-left: 0;
        }
        
        & > ul {
            display: block;
            overflow: auto;
            width: 100%;
            height: 100%;
            
            
            ul {
                border: none;
                box-shadow: none;
                position: static;
                padding: 12px 0;
                height: auto;
            }
        }
        
        & > ul .active {
            border-color: transparent;
        }
        
        li {
            height: auto !important;

            &.billeterie {
                display: block
            }
        }

    }

    .page-logo {
        margin-left: 60px;
    }
    
    .page-number {
        a, span {
            display: none;
        }
    }
}

@media screen and (max-width: 400px) {
    .page-number {
        display: none;
    }
}

/* Cover
 * ------------------------ */
.page-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;

    .container {
        position: relative;
    }

    blockquote {
      font-style: italic;
      float: right;
      position: absolute;
      top: 40px; right: 30px;
      width: 340px;
      z-index: 10;

      &:before {
        color: #293445;
        font-family: $font-sans;
        font-size: 100px;
        font-style: normal;
        float: left;
        content: '“';
        margin-top: -25px;
        margin-left: -50px;
      }

      p {
        margin: 0;
      }
    }

    cite {
      background: url(../images/sprite.png) no-repeat 0 0;
      text-indent: -9999px;

      display: block;
      float: right;
      margin-top: 10px;
    }

    @media screen and (max-width: 700px) {
        height: 240px;
    }
}

/* BREADCRUMB
 * ------------------------ */
.page-breadcrumb {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
        float: left;
    }

    li, a {
        color: #b9b9b9;
    }

    a {
        text-decoration: underline;
    }

    li + li {
        &:before {
            content: '/';
            margin: 0 12px;
        }
    }
}

/* PAGE BODY
 * ------------------------ */
.page-body {
  margin: 24px 0;
  overflow: hidden;
}

ul.page-body-nav {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 24px 0;

    li {
        float: right;
        padding: 0 8px 0 16px;
    }

    .title {
        color: #999;
        font-variant: small-caps;
        text-transform: lowercase;
        float: left;
        padding: 0 0 0 8px;
    }
}

.page-body-nav {
    border-bottom: 1px solid $grey-separator;
    margin: 48px 0;

    li {
        a {
            color: $grey-text;
            text-decoration: none;

            &:hover {
                color: $light-blue;
            }
        }

        &.active a {
            color: #999;
        }
    }

    .centered-list {
        display: table;
        margin: 0 auto;

        ul {
            list-style: none;
            margin: 0;
            padding: 24px 0;
        }
        li {
            display: inline;
            padding: 0 24px;
        }
    }
}

h4 {
    font-size: 24px;
    font-weight: 300;
}

h5 {
    font-size: 20px;
    font-weight: 300;
}

a {
    color: $light-blue;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

/* PAGE FOOTER
 * ------------------------ */
.page-footer {
    background: url(../images/clouds.jpg) no-repeat top center;
    height: 300px;

    .container {
        position: relative;
        padding-top: 260px;
    }

    p {
        color: #859ABA;
        text-align: center;
        margin: 0;
    }
}

.page-social {
    position: absolute;
    bottom: 0;
    right: 0;

    a {
        text-indent: -9999px;

        display: block;
        float: right;
        margin-left: 8px;
        width: 32px; height: 32px;
    }

    .facebook {
        background: url('../images/social/facebook_32.png') no-repeat 0 0;
    }
    .twitter {
        background: url('../images/social/twitter_32.png') no-repeat 0 0;
    }
    .youtube {
        background: url('../images/social/youtube_32.png') no-repeat 0 0;
    }
}
