$font-sans:         'Open Sans', sans-serif;
$font-condensed:    'Open Sans Condensed', sans-serif;

$blue: #293445;
$light-blue: #2294CA;
$lighter-blue: #28afe5;
$grey-text: #333;
$grey-separator: #E6E6E6;

@import "page";
@import "content";
